@import 'tailwindcss';
@import "./udixio.css";


@plugin '@tailwindcss/typography';

@source "../../node_modules/@udixio/ui-react";
@source "../../src/";

body {
    @apply bg-surface text-on-surface text-body-medium;
}

.astro-code.github-dark, pre.prism-code {
    padding: 0 !important;
    background-color: transparent !important;
}

.prose-markdown {
    @apply prose max-w-none text-inherit;

    /* Headings */

    :is(h1, h2, h3, h4, h5, h6):not(.not-prose *) {
        @apply text-on-surface;
    }

    h1:not(.not-prose *) {
        @apply text-headline-medium lg:text-display-small;
    }

    h2:not(.not-prose *) {
        @apply text-headline-small lg:text-headline-medium mt-24 mb-4;
    }

    h3:not(.not-prose *) {
        @apply text-title-large;
    }

    h4:not(.not-prose *) {
        @apply text-title-small;
    }

    /* Text elements */

    a:not(.not-prose *) {
        @apply text-primary text-body-medium;

        &.button {
            @apply no-underline;
        }
    }

    code:not(.card code):not(.not-prose *) {
        @apply text-on-surface bg-surface-container-highest p-1 mx-1 rounded text-body-medium;
    }

    li:not(.not-prose *) {
        @apply text-on-surface-variant text-body-medium;
    }

    td:not(.not-prose *) {
        @apply text-on-surface-variant text-body-medium;
    }

    blockquote:not(.not-prose *) {
        @apply text-on-surface-variant text-body-large;
    }

    p:not(.not-prose *) {
        @apply text-on-surface-variant text-body-medium;
    }

    strong:not(.not-prose *) {
        @apply text-[inherit];
    }

    pre:not(.not-prose *) {
        @apply m-0 p-0;
    }

    a:not(.not-prose *) {
        &.button {
            @apply no-underline;
        }

        &:not(.button) {
            @apply text-primary    text-body-medium;
        }
    }
}

*::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}


*::-webkit-scrollbar-track {
    @apply bg-surface-container-highest;
}

*::-webkit-scrollbar-thumb {
    @apply bg-on-surface-variant rounded-2xl;
    border: 2px solid transparent;
    background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
    @apply bg-on-surface;
}

*::-webkit-scrollbar-thumb:active {
    @apply bg-primary;
}

*::-webkit-scrollbar-corner {
    @apply bg-surface-container-highest;
}

