@plugin "@udixio/tailwind" {
  colorKeys: surface, surface-dim, surface-bright, surface-container-lowest, surface-container-low, surface-container, surface-container-high, surface-container-highest, on-surface, on-surface-variant, outline, outline-variant, inverse-surface, inverse-on-surface, primary, primary-dim, on-primary, primary-container, on-primary-container, primary-fixed, primary-fixed-dim, on-primary-fixed, on-primary-fixed-variant, inverse-primary, secondary, secondary-dim, on-secondary, secondary-container, on-secondary-container, secondary-fixed, secondary-fixed-dim, on-secondary-fixed, on-secondary-fixed-variant, tertiary, tertiary-dim, on-tertiary, tertiary-container, on-tertiary-container, tertiary-fixed, tertiary-fixed-dim, on-tertiary-fixed, on-tertiary-fixed-variant, error, error-dim, on-error, error-container, on-error-container, surface-variant, surface-tint, background, on-background, success, success-dim, on-success, success-container, on-success-container, success-fixed, success-fixed-dim, on-success-fixed, on-success-fixed-variant;
  fontStyles: display-large fontWeight[400] fontSize[3.5625] lineHeight[4] letterSpacing[-0.015625] fontFamily[expressive], display-medium fontWeight[400] fontSize[2.8125] lineHeight[3.25] fontFamily[expressive], display-small fontWeight[400] fontSize[2.25] lineHeight[2.75] fontFamily[expressive], headline-large fontWeight[400] fontSize[2] lineHeight[2.5] fontFamily[expressive], headline-medium fontWeight[400] fontSize[1.75] lineHeight[2.25] fontFamily[expressive], headline-small fontWeight[400] fontSize[1.5] lineHeight[2] fontFamily[expressive], title-large fontWeight[400] fontSize[1.375] lineHeight[1.75] fontFamily[neutral], title-medium fontWeight[500] fontSize[1] lineHeight[1.5] fontFamily[neutral] letterSpacing[0.009375], title-small fontWeight[500] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.00625], label-large fontWeight[500] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.00625], label-medium fontWeight[500] fontSize[0.75] lineHeight[1] fontFamily[neutral] letterSpacing[0.03125], label-small fontWeight[500] fontSize[0.6875] lineHeight[1] fontFamily[neutral] letterSpacing[0.03125], body-large fontWeight[400] fontSize[1] lineHeight[1.5625] fontFamily[neutral] letterSpacing[0.03125], body-medium fontWeight[400] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.015625], body-small fontWeight[400] fontSize[0.75] lineHeight[1] fontFamily[neutral] letterSpacing[0.025];
  responsiveBreakPoints: lg 1.125;
}
@theme {
  --color-*: initial;
  --color-surface: #ffffff;
  --color-surface-dim: #ded8df;
  --color-surface-bright: #fdf7fe;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f8f2f8;
  --color-surface-container: #f2ecf3;
  --color-surface-container-high: #ece6ed;
  --color-surface-container-highest: #e6e1e7;
  --color-on-surface: #343136;
  --color-on-surface-variant: #615d67;
  --color-outline: #7d7983;
  --color-outline-variant: #b5b0bb;
  --color-inverse-surface: #0f0d12;
  --color-inverse-on-surface: #f5eff5;
  --color-primary: #65558f;
  --color-primary-dim: #594982;
  --color-on-primary: #fcf5ff;
  --color-primary-container: #c7b4f6;
  --color-on-primary-container: #403168;
  --color-primary-fixed: #c7b4f6;
  --color-primary-fixed-dim: #b9a7e7;
  --color-on-primary-fixed: #2b1b52;
  --color-on-primary-fixed-variant: #493a72;
  --color-inverse-primary: #c7b4f6;
  --color-secondary: #64597f;
  --color-secondary-dim: #584d73;
  --color-on-secondary: #fdf7ff;
  --color-secondary-container: #e9ddff;
  --color-on-secondary-container: #564c71;
  --color-secondary-fixed: #e9ddff;
  --color-secondary-fixed-dim: #dccefa;
  --color-on-secondary-fixed: #443a5e;
  --color-on-secondary-fixed-variant: #60567c;
  --color-tertiary: #834d76;
  --color-tertiary-dim: #76416a;
  --color-on-tertiary: #fff7f9;
  --color-tertiary-container: #fbb7e7;
  --color-on-tertiary-container: #64325a;
  --color-tertiary-fixed: #fbb7e7;
  --color-tertiary-fixed-dim: #ecaad9;
  --color-on-tertiary-fixed: #4e1e45;
  --color-on-tertiary-fixed-variant: #6f3b63;
  --color-error: #a8364b;
  --color-error-dim: #6b0221;
  --color-on-error: #fff7f7;
  --color-error-container: #f97386;
  --color-on-error-container: #6e0523;
  --color-surface-variant: #e6e1e7;
  --color-surface-tint: #65558f;
  --color-background: #ffffff;
  --color-on-background: #343136;
  --color-success: #3c693a;
  --color-success-dim: #305d2f;
  --color-on-success: #eaffe2;
  --color-success-container: #bcf0b4;
  --color-on-success-container: #2e5c2e;
  --color-success-fixed: #bcf0b4;
  --color-success-fixed-dim: #aee2a7;
  --color-on-success-fixed: #1b481d;
  --color-on-success-fixed-variant: #386637;
}
@layer theme {
  .dark {
    --color-surface: #0f0d12;
    --color-surface-dim: #0f0d12;
    --color-surface-bright: #2d2b30;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #141317;
    --color-surface-container: #1a191d;
    --color-surface-container-high: #211f23;
    --color-surface-container-highest: #27252a;
    --color-on-surface: #e9e4ea;
    --color-on-surface-variant: #aea9b4;
    --color-outline: #78737e;
    --color-outline-variant: #4a4650;
    --color-inverse-surface: #fdf7fe;
    --color-inverse-on-surface: #322f34;
    --color-primary: #665690;
    --color-primary-dim: #7c6ba7;
    --color-on-primary: #fdf7ff;
    --color-primary-container: #42326a;
    --color-on-primary-container: #c9b6f8;
    --color-primary-fixed: #c7b4f6;
    --color-primary-fixed-dim: #b9a7e7;
    --color-on-primary-fixed: #2b1b52;
    --color-on-primary-fixed-variant: #493a72;
    --color-inverse-primary: #665690;
    --color-secondary: #cdc0ec;
    --color-secondary-dim: #bfb2dd;
    --color-on-secondary: #443a5f;
    --color-secondary-container: #403659;
    --color-on-secondary-container: #c6b9e4;
    --color-secondary-fixed: #e9ddff;
    --color-secondary-fixed-dim: #dccefa;
    --color-on-secondary-fixed: #443a5e;
    --color-on-secondary-fixed-variant: #60567c;
    --color-tertiary: #ffcbee;
    --color-tertiary-dim: #fbb7e7;
    --color-on-tertiary: #6e3a63;
    --color-tertiary-container: #fbb7e7;
    --color-on-tertiary-container: #64325a;
    --color-tertiary-fixed: #fbb7e7;
    --color-tertiary-fixed-dim: #ecaad9;
    --color-on-tertiary-fixed: #4e1e45;
    --color-on-tertiary-fixed-variant: #6f3b63;
    --color-error: #f97386;
    --color-error-dim: #c44b5f;
    --color-on-error: #490013;
    --color-error-container: #871c34;
    --color-on-error-container: #ff97a3;
    --color-surface-variant: #27252a;
    --color-surface-tint: #665690;
    --color-background: #0f0d12;
    --color-on-background: #e9e4ea;
    --color-success: #a1d39a;
    --color-success-dim: #93c58d;
    --color-on-success: #1c491e;
    --color-success-container: #174419;
    --color-on-success-container: #99cc93;
    --color-success-fixed: #bcf0b4;
    --color-success-fixed-dim: #aee2a7;
    --color-on-success-fixed: #1b481d;
    --color-on-success-fixed-variant: #386637;
  }
 
}
@theme {
  --font-expressive: "Roboto", "sans-serif";
  --font-neutral: "Roboto", "sans-serif";
}