@plugin "@udixio/tailwind" {
  colorKeys: surface, surface-dim, surface-bright, surface-container-lowest, surface-container-low, surface-container, surface-container-high, surface-container-highest, on-surface, on-surface-variant, outline, outline-variant, inverse-surface, inverse-on-surface, primary, primary-dim, on-primary, primary-container, on-primary-container, primary-fixed, primary-fixed-dim, on-primary-fixed, on-primary-fixed-variant, inverse-primary, secondary, secondary-dim, on-secondary, secondary-container, on-secondary-container, secondary-fixed, secondary-fixed-dim, on-secondary-fixed, on-secondary-fixed-variant, tertiary, tertiary-dim, on-tertiary, tertiary-container, on-tertiary-container, tertiary-fixed, tertiary-fixed-dim, on-tertiary-fixed, on-tertiary-fixed-variant, error, error-dim, on-error, error-container, on-error-container, surface-variant, surface-tint, background, on-background, success, success-dim, on-success, success-container, on-success-container, success-fixed, success-fixed-dim, on-success-fixed, on-success-fixed-variant;
  fontStyles: display-large fontWeight[400] fontSize[3.5625] lineHeight[4] letterSpacing[-0.015625] fontFamily[expressive], display-medium fontWeight[400] fontSize[2.8125] lineHeight[3.25] fontFamily[expressive], display-small fontWeight[400] fontSize[2.25] lineHeight[2.75] fontFamily[expressive], headline-large fontWeight[400] fontSize[2] lineHeight[2.5] fontFamily[expressive], headline-medium fontWeight[400] fontSize[1.75] lineHeight[2.25] fontFamily[expressive], headline-small fontWeight[400] fontSize[1.5] lineHeight[2] fontFamily[expressive], title-large fontWeight[400] fontSize[1.375] lineHeight[1.75] fontFamily[neutral], title-medium fontWeight[500] fontSize[1] lineHeight[1.5] fontFamily[neutral] letterSpacing[0.009375], title-small fontWeight[500] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.00625], label-large fontWeight[500] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.00625], label-medium fontWeight[500] fontSize[0.75] lineHeight[1] fontFamily[neutral] letterSpacing[0.03125], label-small fontWeight[500] fontSize[0.6875] lineHeight[1] fontFamily[neutral] letterSpacing[0.03125], body-large fontWeight[400] fontSize[1] lineHeight[1.5625] fontFamily[neutral] letterSpacing[0.03125], body-medium fontWeight[400] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.015625], body-small fontWeight[400] fontSize[0.75] lineHeight[1] fontFamily[neutral] letterSpacing[0.025];
  responsiveBreakPoints: lg 1.125;
}
@theme {
  --color-*: initial;
  --color-surface: #ffffff;
  --color-surface-dim: #ded8df;
  --color-surface-bright: #fdf7fe;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f7f2f8;
  --color-surface-container: #f2ecf3;
  --color-surface-container-high: #ece6ed;
  --color-surface-container-highest: #e6e1e7;
  --color-on-surface: #343136;
  --color-on-surface-variant: #615d68;
  --color-outline: #7d7983;
  --color-outline-variant: #b5b0bb;
  --color-inverse-surface: #0f0d12;
  --color-inverse-on-surface: #f5eff5;
  --color-primary: #6750a4;
  --color-primary-dim: #5b4497;
  --color-on-primary: #fcf6ff;
  --color-primary-container: #cab6ff;
  --color-on-primary-container: #442c7f;
  --color-primary-fixed: #cab6ff;
  --color-primary-fixed-dim: #bea5ff;
  --color-on-primary-fixed: #2f1369;
  --color-on-primary-fixed-variant: #4d3689;
  --color-inverse-primary: #bba2fd;
  --color-secondary: #645a7d;
  --color-secondary-dim: #574e70;
  --color-on-secondary: #fdf7ff;
  --color-secondary-container: #e9ddff;
  --color-on-secondary-container: #564d6e;
  --color-secondary-fixed: #e9ddff;
  --color-secondary-fixed-dim: #dbcef7;
  --color-on-secondary-fixed: #433a5b;
  --color-on-secondary-fixed-variant: #605679;
  --color-tertiary: #8e4480;
  --color-tertiary-dim: #803873;
  --color-on-tertiary: #fff7f9;
  --color-tertiary-container: #fda4e7;
  --color-on-tertiary-container: #65205a;
  --color-tertiary-fixed: #fda4e7;
  --color-tertiary-fixed-dim: #ee97d9;
  --color-on-tertiary-fixed: #4c0644;
  --color-on-tertiary-fixed-variant: #702a64;
  --color-error: #a8364b;
  --color-error-dim: #6b0221;
  --color-on-error: #fff7f7;
  --color-error-container: #f97386;
  --color-on-error-container: #6e0523;
  --color-surface-variant: #e6e1e7;
  --color-surface-tint: #6750a4;
  --color-background: #ffffff;
  --color-on-background: #343136;
  --color-success: #286c2c;
  --color-success-dim: #1a6021;
  --color-on-success: #eaffe2;
  --color-success-container: #aaf5a4;
  --color-on-success-container: #185e20;
  --color-success-fixed: #aaf5a4;
  --color-success-fixed-dim: #9de697;
  --color-on-success-fixed: #004a10;
  --color-on-success-fixed-variant: #246929;
}
@layer theme {
  .dark {
    --color-surface: #0f0d12;
    --color-surface-dim: #0f0d12;
    --color-surface-bright: #2d2b30;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #141317;
    --color-surface-container: #1a191d;
    --color-surface-container-high: #211f23;
    --color-surface-container-highest: #27252a;
    --color-on-surface: #e9e4ea;
    --color-on-surface-variant: #aea9b4;
    --color-outline: #78737e;
    --color-outline-variant: #4a4650;
    --color-inverse-surface: #fdf7fe;
    --color-inverse-on-surface: #322f34;
    --color-primary: #9a82da;
    --color-primary-dim: #7e66bc;
    --color-on-primary: #13003c;
    --color-primary-container: #735cb1;
    --color-on-primary-container: #ffffff;
    --color-primary-fixed: #cab6ff;
    --color-primary-fixed-dim: #bea5ff;
    --color-on-primary-fixed: #2f1369;
    --color-on-primary-fixed-variant: #4d3689;
    --color-inverse-primary: #6750a4;
    --color-secondary: #cdc0e9;
    --color-secondary-dim: #bfb3da;
    --color-on-secondary: #443b5c;
    --color-secondary-container: #3f3657;
    --color-on-secondary-container: #c6b9e1;
    --color-secondary-fixed: #e9ddff;
    --color-secondary-fixed-dim: #dbcef7;
    --color-on-secondary-fixed: #433a5b;
    --color-on-secondary-fixed-variant: #605679;
    --color-tertiary: #ffb9eb;
    --color-tertiary-dim: #fda4e7;
    --color-on-tertiary: #702a64;
    --color-tertiary-container: #fda4e7;
    --color-on-tertiary-container: #65205a;
    --color-tertiary-fixed: #fda4e7;
    --color-tertiary-fixed-dim: #ee97d9;
    --color-on-tertiary-fixed: #4c0644;
    --color-on-tertiary-fixed-variant: #702a64;
    --color-error: #f97386;
    --color-error-dim: #c44b5f;
    --color-on-error: #490013;
    --color-error-container: #871c34;
    --color-on-error-container: #ff97a3;
    --color-surface-variant: #27252a;
    --color-surface-tint: #9a82da;
    --color-background: #0f0d12;
    --color-on-background: #e9e4ea;
    --color-success: #8fd88a;
    --color-success-dim: #82ca7d;
    --color-on-success: #004b10;
    --color-success-container: #00460f;
    --color-on-success-container: #88d083;
    --color-success-fixed: #aaf5a4;
    --color-success-fixed-dim: #9de697;
    --color-on-success-fixed: #004a10;
    --color-on-success-fixed-variant: #246929;
  }
 
}
@theme {
  --font-expressive: "Roboto", "sans-serif";
  --font-neutral: "Roboto", "sans-serif";
}