
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --color-*: initial;
  --color-surface: #fdf7fe;
  --color-surface-dim: #ded8e4;
  --color-surface-bright: #fdf7fe;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f8f1fa;
  --color-surface-container: #f2ecf5;
  --color-surface-container-high: #ece6f0;
  --color-surface-container-highest: #e7e0ec;
  --color-on-surface: #000000;
  --color-on-surface-variant: #262132;
  --color-outline: #454052;
  --color-outline-variant: #625c6f;
  --color-inverse-surface: #0f0d12;
  --color-inverse-on-surface: #ffffff;
  --color-primary: #281b49;
  --color-primary-dim: #1e103f;
  --color-on-primary: #e1d3ff;
  --color-primary-container: #655789;
  --color-on-primary-container: #ffffff;
  --color-primary-fixed: #655789;
  --color-primary-fixed-dim: #594b7c;
  --color-on-primary-fixed: #ffffff;
  --color-on-primary-fixed-variant: #ffffff;
  --color-inverse-primary: #d4c3fd;
  --color-secondary: #262134;
  --color-secondary-dim: #1c1729;
  --color-on-secondary: #dfd6ef;
  --color-secondary-container: #625c71;
  --color-on-secondary-container: #ffffff;
  --color-secondary-fixed: #625c71;
  --color-secondary-fixed-dim: #565065;
  --color-on-secondary-fixed: #ffffff;
  --color-on-secondary-fixed-variant: #ffffff;
  --color-tertiary: #391733;
  --color-tertiary-dim: #2e0d28;
  --color-on-tertiary: #ffcbee;
  --color-tertiary-container: #7b5270;
  --color-on-tertiary-container: #ffffff;
  --color-tertiary-fixed: #7b5270;
  --color-tertiary-fixed-dim: #6e4664;
  --color-on-tertiary-fixed: #ffffff;
  --color-on-tertiary-fixed-variant: #ffffff;
  --color-error: #500016;
  --color-error-dim: #3d000f;
  --color-on-error: #ffced2;
  --color-error-container: #a8364b;
  --color-on-error-container: #ffffff;
  --color-surface-variant: #e7e0ec;
  --color-surface-tint: #281b49;
  --color-background: #fdf7fe;
  --color-on-background: #000000;
}
@layer theme {
  .dark {
  --color-surface: #0f0d12;
  --color-surface-dim: #0f0d12;
  --color-surface-bright: #2e2b34;
  --color-surface-container-lowest: #000000;
  --color-surface-container-low: #141218;
  --color-surface-container: #1b181f;
  --color-surface-container-high: #211e26;
  --color-surface-container-highest: #27242d;
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #ebe2f9;
  --color-outline: #bdb5cb;
  --color-outline-variant: #9790a5;
  --color-inverse-surface: #fdf7fe;
  --color-inverse-on-surface: #000000;
  --color-primary: #ebe1ff;
  --color-primary-dim: #ded0fe;
  --color-on-primary: #302649;
  --color-primary-container: #a497c2;
  --color-on-primary-container: #000000;
  --color-primary-fixed: #ded0fe;
  --color-primary-fixed-dim: #d0c3ef;
  --color-on-primary-fixed: #000000;
  --color-on-primary-fixed-variant: #180e30;
  --color-inverse-primary: #3c3256;
  --color-secondary: #ebe1fb;
  --color-secondary-dim: #ddd3ed;
  --color-on-secondary: #2e293c;
  --color-secondary-container: #a29ab2;
  --color-on-secondary-container: #000000;
  --color-secondary-fixed: #e8def8;
  --color-secondary-fixed-dim: #dad0ea;
  --color-on-secondary-fixed: #000000;
  --color-on-secondary-fixed-variant: #221d2f;
  --color-tertiary: #ffdbf2;
  --color-tertiary-dim: #fac5e9;
  --color-on-tertiary: #43203b;
  --color-tertiary-container: #f4bfe3;
  --color-on-tertiary-container: #2e0e29;
  --color-tertiary-fixed: #f4bfe3;
  --color-tertiary-fixed-dim: #e5b2d5;
  --color-on-tertiary-fixed: #000000;
  --color-on-tertiary-fixed-variant: #180015;
  --color-error: #ffdddf;
  --color-error-dim: #ffc7cb;
  --color-on-error: #5f001c;
  --color-error-container: #f97386;
  --color-on-error-container: #000000;
  --color-surface-variant: #27242d;
  --color-surface-tint: #ebe1ff;
  --color-background: #0f0d12;
  --color-on-background: #ffffff;
  }
}
