---

import { ColorPicker } from '@/components/ColorPicker';
import Layout from '../layouts/layout.astro';
import {Button} from "@udixio/ui-react"

---
<Layout>
  <ColorPicker client:load />
  <Button>test</Button>
</Layout>