---
import { getCollection, render } from 'astro:content';
import Layout from '@/layouts/layout.astro';

export async function getStaticPaths() {
  const overviews = await getCollection('overviews');
  return overviews.map(overview =>
    ({
      params: { component: overview.id.replace('overview', '') },
      props: { overview }
    })
  );
}

const { overview } = Astro.props;
const { component } = Astro.params;
const { Content, headings } = await render(overview);
---
<Layout>
  <main class="container mx-auto p-4">
    <h1 class="text-3xl font-semibold mb-4">{component}</h1>
    <article class="prose max-w-none">
      <Content />
    </article>
  </main>
</Layout>