---
import '@/styles/global.css';
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <title>Astro</title>
</head>
<body class="dark bg-surface text-on-surface">
<main class="max-w-screen-md mx-auto p-4">
  <nav>

  </nav>
  <div>

    <slot />
  </div>
</main>

</body>
</html>
