---
import '@/styles/global.css';
import { getCollection, render } from 'astro:content';
import { Button, Divider } from '@udixio/ui-react';
import { sentenceCase, kebabCase } from 'change-case';
import { ComponentSidebar } from '@/components/ComponentSidebar';
import { Navigation } from '@/components/Navigation';
import { ClientRouter } from 'astro:transitions';
import { DocSidebar } from '@/components/DocSidebar';
import { ThemeProvider } from '@/components/ThemeProvider';

const apis = await getCollection('api');

const pathName = Astro.url.pathname;


const {docSidebar} = Astro.props
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <title>Astro</title>
  <ClientRouter />
</head>
<body class="dark bg-surface text-on-surface">
<main class="mx-auto flex justify-between">
  <div class="flex sticky top-0 h-screen">
    <Navigation  client:load  transition:name="navigation" transition:persist/>
    <Divider orientation="vertical" />
    <slot name="sidebar" />
  </div>

  <div class="max-w-screen-lg flex flex-1 gap-8">
    <div class="flex-1 overflow-auto">
      <slot />
    </div>
  </div>
  <div>
    {docSidebar &&   <DocSidebar client:load />}
  </div>
</main>
<ThemeProvider client:load transition:name="theme-provider" transition:persist />
</body>
</html>
